:root {

    --var-front: tomato;
    --var-back: darkslategray;
    --var-shadow: black;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background:#f2f2f2; */
    background-color: darkslategray;
}

a {
    text-decoration: none !important;
    color: darkslategray;
    background: #ff4a4a;
    font-size: 75px;
    line-height: 74px;
    font-weight: 700;
    margin: 0 5px 24px;
    float: left;
    padding: 10px;
    margin: 0 5px 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;

    border-style: solid;
    border-color: darkslategray;
}

a:hover {
    color: #ff4a4a;
    text-decoration: none;
    background:darkslategray;
    border-style: solid;
    border-color: #ff4a4a;
    box-shadow: 10px 10px #ff4a4a;
    
}