body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;

    background-image: url("/imgs/start-bg.gif");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    
    overflow: hidden;
    text-align: left;
    
}
.name{
    font-size: 100pt;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: #f37388; */
    font-weight: bold;
    text-align:justify;
    /* text-shadow: -1px 0 5px #15dab2, 0 1px 5px #00ca4d, 1px 0 5px #00ca9b, 0 -1px 5px #00ca80; */
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
    mix-blend-mode:color-dodge;
    color: pink;
   
    text-shadow: 10px 10px yellow;
    
    
}

.nav-div{
    text-align: left;
    /* color: red; */
    height: 20%;
}

a{
    
    text-decoration: none !important;
    text-decoration-line: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
